{% block action %}
    {{ createActionButton(addMerchantActionUrl, 'Add Merchant Unzer Credentials' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Unzer Credentials' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ merchantUnzerCredentialsTable | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
